.card{
    box-shadow: 6px 3px 5px black;
    margin:0px;
    padding:0px;
    position: relative;
}

.logo{
    position: absolute;
    left: 50%;
    top:80%;
    transform:translate(-50%,-50%);
    padding:0px;
}

.player{
    position: absolute;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);
    padding:0px;
}